/* 
font-family: 'Maven Pro', sans-serif; 
font-family: 'Roboto', sans-serif;
*/
:root {
  --whitegrey: rgba(207, 207, 207, 1);
  --darkblue: rgba(93, 118, 138, 1);
  --darkshadow: rgba(0, 0, 0, 0.4);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: var(--darkblue);
}

@media (max-width:576px) {

  .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;

    /* rozwiązanie z resize on mobile scroll */
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-x: hidden;
    overflow-y: auto;
  }

  .main__section {
    height: 100vh;
    overflow: hidden;
  }

  .top_main__section {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url('/img/pexels-ksenia-chernaya-5691545\(1\).jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    overflow: hidden;
    max-width: 100%;
    z-index: -1;
  }

  .top_main__bg {
    height: 100%;
    width: 100%;
    background-color: var(--darkshadow);
  }

  .logo__name {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    color: var(--whitegrey);
    position: absolute;
    top: 2%;
    left: 2%;
    line-height: 15vw;
  }

  .logo__name .name__text {
    text-transform: uppercase;
    font-family: 'Maven Pro', sans-serif;
    font-size: 10vw;
  }

  .nav__section .nav__list {
    display: none;
  }

  .nav__section .nav__btn {
    display: block;
    position: absolute;
    top: 2%;
    left: 5%;
    font-size: 12vw;
    background-color: transparent;
    border: 0;
    color: var(--whitegrey);
    cursor: pointer;
  }

  .headline__description {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--whitegrey);
    text-transform: uppercase;
    text-align: center;
    font-family: 'Roboto', sans-serif;
  }

  .headline__description .tittle__description {
    position: absolute;
    top: 30%;
    left: 0;
    font-size: 8vw;
    width: 100%;
  }

  .headline__description .second_tittle__description {
    position: absolute;
    top: 39%;
    left: 0%;
    font-size: 7vw;
    width: 100%;
  }

  .bottom__section {
    position: absolute;
    width: 100%;
    height: 20vh;
    bottom: 0;
    left: 0;
    background-color: var(--darkblue);
    border: 1px solid transparent;
    border-radius: 0px 90px 0px 0px;
  }

  .img_case {
    position: absolute;
    bottom: 0%;
    left: -25%;
    height: 220%;
  }

  .img_case .img__bottom {
    height: 100%;
    transform: scaleX(-1);
  }

  .bottom__description {
    position: absolute;
    left: 35%;
    top: 35%;
    height: 20vh;
    width: 60%;
  }

  .bottom__description .bottom__btn {
    position: relative;
    color: var(--whitegrey);
    background-color: transparent;
    border: 0;
    font-size: 7vw;
    /* padding-bottom: 4px;
    border-bottom: 2px solid black;
    border-radius: 2px; */
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
    padding-bottom: 7px;
    letter-spacing: 1px;
  }

  .bottom__btn::after {
    position: absolute;
    bottom: 0;
    left: calc(50% - calc(45% / 2));
    display: block;
    content: "";
    width: 45%;
    background-color: var(--darkshadow);
    height: 3px;
    border-radius: 5px;
  }


  /* TODO: DOKŃCZYĆ SEKCJĘ */
  .middle__section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    top: 100vh;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: rgba(100, 120, 138, 1);
  }

  .middle__section .card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 25vh;
    width: 80%;
    text-align: center;
    box-shadow: -1px 5px 5px 5px rgba(0, 0, 0, 0.20);
    -webkit-box-shadow: -1px 5px 5px 5px rgba(0, 0, 0, 0.20);
    -moz-box-shadow: -1px 5px 5px 5px rgba(0, 0, 0, 0.203);
    border-radius: 8px;
  }

  .card .fa-solid {
    font-size: 40px;
    border-bottom: 3px solid var(--darkshadow);
    padding-bottom: 20px;
    color: var(--whitegrey);
    margin-top: 4vh;
  }

  .card .description {
    color: var(--whitegrey);
    font-size: 3vh;
    margin-bottom: 4vh;
    font-weight: bold;
  }

  .first_card,
  .second_card {
    margin-top: 2vh;
  }

  .third_card .description {
    margin-bottom: 5vh;
  }



  /* .middle__section .card {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    margin: 0 15vw;
    height: 20vh;
    width: 40vh;
    padding-top: 10px;
    box-shadow: -1px 5px 5px 5px rgba(0, 0, 0, 0.20);
    -webkit-box-shadow: -1px 5px 5px 5px rgba(0, 0, 0, 0.20);
    -moz-box-shadow: -1px 5px 5px 5px rgba(0, 0, 0, 0.203);
    border-radius: 8px;
  }

  .card .fa-solid {
    font-size: 40px;
    border-bottom: 3px solid var(--darkshadow);
    padding-bottom: 15px;
    margin-top: 10px;
  }

  .card .description {
    font-size: 25px;
    text-align: center;
    color: var(--whitegrey);
    font-weight: bold;
  }

  .middle__section .first_card,
  .middle__section .second_card {
    height: 25vh;
  }

  .middle__section .third_card {
    padding-top: 0;
  }

  .first_card .description {
    margin-top: 10px;
    font-size: 20px;
  }

  .second_card .description {
    margin-top: 10px;
  }

  .third_card .description {
    margin-top: -4vh;
  } */




  /* .headline_description__img {
    position: relative;
    top: 20%;
    left: 4%;
    display: flex;
    justify-content: center;
    width: 100vh;
  }

  .headline_description__img .headline__img {
    width: 40%;
    border: 4px solid #c8d9e7;
    border-radius: 10px;
    padding: 15px;
  }

  .main__description {
    display: none;
  } */
}